:root {
  --sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

html,
body {
  min-height: 100%;
}

.container {
  max-width: 40em;
  padding: 2em;
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  min-height: 100%;
}

h1{
  margin: 0;
}

h2 {
  margin: 2em 0 1em 0;
  position: relative;

  a {
    color: #000;
    
    &::before {
      content: "#";
      display: inline-block;
      position: absolute;
      right: calc(100% + .33em);
      top: 1px;
      color: #e0e0e0;
    }

    &:hover {
      text-decoration: none;

      &::before {
        color: #005cff;
      }
    }
  }
}

p {
  font-size: 1.25em;
  line-height: 1.4;
  margin: 0 0 1.5em 0;
}


a {
  color: #005cff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}