:root {
  --sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --bg: #fff;
  --text: #000;
  --paragraph: #333;
  --text-m: #666;
  --border: #eaeaea;
  --link: #005cff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111;
    --text: #d9d9d9;
    --text-m: #9f9f9f;
    --border: #3e3e3e;
    --paragraph: #ccc;
  }
}

html,
body {
  min-height: 100%;
  background-color: var(--bg)
}

.container {
  max-width: 40em;
  padding: 2em;
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  min-height: 100%;
  color: var(--text)
}

h1{
  margin: 0;
}

h2 {
  margin: 2em 0 1em 0;
  position: relative;
  font-size: 1.75em;

  a {
    color: var(--text);
    
    &::before {
      content: "#";
      display: inline-block;
      position: absolute;
      right: calc(100% + .33em);
      top: 1px;
      color: #e0e0e0;
    }

    &:hover {
      text-decoration: none;

      &::before {
        color: #005cff;
      }
    }
  }
}

p {
  font-size: 1.25em;
  line-height: 1.4;
  margin: 0 0 1.5em 0;
  color: var(--paragraph);
}


a {
  color: var(--link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}